.btn__container {
  display: flex;
  justify-content: center;
}
button {
  margin: 5px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border-color: rgba(103, 103, 109, 0.208);
  background-color: rgba(67, 91, 91, 0.132);
  font-weight: 700;
  color: rgb(146, 183, 146);
}

.is-active:hover {
  border-color: rgb(109, 125, 113);
  background-color: rgba(92, 165, 115, 0.536);
  color: rgb(29, 99, 29);
}
